<mat-card class="main-card">

  <!-- Header Section -->
  <mat-card class="header-card">
    <div class="header">
      <h2>Manage Your Task</h2>

      <!-- Search Box -->
      <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput placeholder="Search task by title..." class="search-input" (input)="debounceSearch($event)">
      </div>

      <p class="t_task">Total Task: {{ allTasks.length || 0 }}</p>
    </div>
  </mat-card>

  <!-- Filters -->
  <div class="filters-wrapper">
    <!-- Date Filter -->
    <mat-form-field>
      <mat-label>Filter by Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Status Filter -->
    <mat-form-field>
      <mat-label>Filter by Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus">
        @for (st of status; track st) {
          <mat-option [value]="st">{{st}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tasks Table -->
  <table mat-table 
       [dataSource]="filteredTasks 
                      | filterTask: selectedStatus 
                      | filterByDate: selectedDate"
       class="mat-elevation-z8 task-table">


    <!-- S.No Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let task; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <!-- Created Date Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let task">{{ task.createdDate | date: 'MM/dd/yyyy' }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let task">
        <span class="status-badge" [ngClass]="task.status | lowercase">
          {{ task.status }}
        </span>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let task" class="action-icons">
        
        <a [routerLink]="['edit', task.id]" class="edit-btn">
          <mat-icon>edit</mat-icon>
        </a>

        <span class="line"></span>
        <button class="delete-btn" (click)="openDialog(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- No tasks found message -->
  @if((!(filteredTasks | filterTask: selectedStatus).length) || !(filteredTasks | filterByDate: selectedDate).length) {
    <p class="no-tasks" style="color: red;">No tasks found.</p>
  }

</mat-card>

<!-- Confirm Dialog -->
@if(isOpened){
<app-confirm-dialog
[message]="'Are you sure you want to delete this task?'"
(confirm)="handleConfirmation($event)"
>
</app-confirm-dialog>
}

<router-outlet></router-outlet>

