<mat-card class="main-card">

  <mat-card class="header-card">
    <div class="header">
      <h2>Manage Your Task</h2>

      <div class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input matInput placeholder="Search task..." class="search-input" />
      </div>


      <p class="t_task">Total Task: {{ allTasks.length }}</p>
    </div>
  </mat-card>

  <table mat-table [dataSource]="allTasks" class="mat-elevation-z8 task-table">

    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let task; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let task">{{ task.createdDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let task">
        <span class="status-badge" [ngClass]="task.status | lowercase">
          {{ task.status }}
        </span>
      </td>

    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let task" class="action-icons">

        <a [routerLink]="['edit', task.id]" class="edit-btn">
          <mat-icon>edit</mat-icon>
        </a>

        <span class="line"></span>

        <a [routerLink]="['delete', task.id]" class="delete-btn">
          <mat-icon>delete</mat-icon>
        </a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-card>

<router-outlet></router-outlet>
