.profile-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  width: 100%;
  background: #f4f7fc;
}

/* LEFT CARD */
.profile-card {
  width: 30%;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  background: #3f51b5;
  color: white;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

.user-name {
  margin: 10px 0 5px 0;
  font-size: 26px;
  font-weight: 600;
  color: #1d1d1d;
}

.user-email {
  color: #555;
  margin-bottom: 20px;
}

.section-label {
  font-weight: bold;
  margin-top: 15px;
}

.section-content {
  color: #444;
}

.join-date {
  margin: 20px 0;
  color: #777;
  font-size: 14px;
}

.profile-pic-btn {
  margin-top: 10px;
  border-radius: 8px;
  padding: 8px 14px;
}

/* RIGHT SIDE */
.edit-sections {
  width: 60%;
}

.section-title {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #1d1d1d;
}

.edit-btn,
.security-btn {
  width: 60%;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #4361ee, #3f51b5);
  color: white !important;
  font-size: 16px;
}

.edit-btn:hover,
.security-btn:hover {
  background: linear-gradient(90deg, #3f51b5, #364fc7);
  transition: 0.3s ease;
}
/* Dialog container rounded */
.custom-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 16px !important;
  overflow: hidden;
}

/* Header */
.dialog-header {
  background: #1976d2;
  color: white;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: .2s;
}

.close-btn:hover {
  color: #bbdefb;
}

/* Body */
.dialog-body {
  padding: 24px 26px;
  background: #f5faff;
}

.dialog-body .mat-mdc-form-field {
  width: 100%;
  margin-bottom: 18px;
}

/* Footer */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 14px 24px;
  background: #e3f2fd;
}

.cancel-btn {
  margin-right: 10px;
  border: 1px solid #1976d2;
  color: #1976d2;
  padding: 6px 14px;
  border-radius: 8px;
}

.cancel-btn:hover {
  background: #e3f2fd;
}

.save-btn {
  background: #1976d2 !important;
  color: white !important;
  padding: 8px 18px;
  border-radius: 8px;
}

.save-btn:hover {
  background: #125a9c !important;
}

