<div class="profile-container">

  <!-- Left Section – User Info -->
<div class="profile-card">

  <div class="avatar" *ngIf="!userDetails.profilePicture">
    <span>{{ userDetails.firstName[0] | uppercase }}</span>
  </div>

  <img 
    *ngIf="userDetails.profilePicture" 
    [src]="userDetails.profilePicture" 
    class="profile-img"
    alt="Profile Picture"
  />

  <h2 class="user-name">{{ userDetails.firstName }} {{ userDetails.lastName }}</h2>
  <p class="user-email">{{ userDetails.email }}</p>

  <button 
    mat-stroked-button 
    color="primary" 
    class="profile-pic-btn"
    (click)="fileInput.click()"
  >
    Change Profile Picture
  </button>

  <input 
    type="file" 
    #fileInput 
    accept="image/*" 
    hidden 
    (change)="onProfilePicSelected($event)"
  />

</div>


  <!-- Right Section – Editable Sections -->
  <div class="edit-sections">

    <h2 class="section-title">Editable Sections</h2>

    <button mat-raised-button color="primary" class="edit-btn" (click)="openDialog(nameDialog)">
      Update Name
    </button>

    <button mat-raised-button color="primary" class="edit-btn" (click)="openDialog(emailDialog)" >
      Update Email
    </button>

    <h2 class="section-title">Security</h2>

    <button mat-raised-button color="primary" class="security-btn" (click)="openDialog(passwordDialog)">
      Change Password
    </button>

  </div>

</div>




<ng-template #nameDialog>
  <div class="dialog-header">
    <span>Edit Name</span>
    <button class="close-btn" mat-dialog-close>&times;</button>
  </div>

  <div class="dialog-body">
    <form [formGroup]="nameForm">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </form>
  </div>

  <div class="dialog-actions">
    <button class="cancel-btn" mat-dialog-close (click)="cancel()">Cancel</button>
    <button class="save-btn" mat-raised-button (click)="saveName()">Save</button>
  </div>
</ng-template>

<ng-template #emailDialog>
  <div class="dialog-header">
    <span>Edit Name</span>
    <button class="close-btn" mat-dialog-close>&times;</button>
  </div>

  <div class="dialog-body">
    <form [formGroup]="emailForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </form>
  </div>

  <div class="dialog-actions">
    <button class="cancel-btn" mat-dialog-close (click)="cancel()">Cancel</button>
    <button class="save-btn" mat-raised-button (click)="saveEmail()">Save</button>
  </div>
</ng-template>

<ng-template #passwordDialog>
  <div class="dialog-header">
    <span>Change Password</span>
    <button class="close-btn" mat-dialog-close>&times;</button>
  </div>

  <mat-dialog-content class="dialog-body">
    <form [formGroup]="passwordForm">

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Old Password</mat-label>
        <input 
          matInput 
          [type]="hideOld ? 'password' : 'text'" 
          formControlName="OldPassword"
        >

        <button mat-icon-button matSuffix (click)="hideOld = !hideOld" tabindex="-1">
          <mat-icon>{{ hideOld ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>New Password</mat-label>
        <input 
          matInput 
          [type]="hideNew ? 'password' : 'text'" 
          formControlName="NewPassword"
        >

        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" tabindex="-1">
          <mat-icon>{{ hideNew ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input 
          matInput 
          [type]="hideConfirm ? 'password' : 'text'" 
          formControlName="ConfirmPassword"
        >

        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" tabindex="-1">
          <mat-icon>{{ hideConfirm ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close class="cancel-btn" (click)="cancel()">Cancel</button>

    <button 
      class="save-btn"
      mat-raised-button 
      color="primary" 
      (click)="savePassword()"
      [disabled]="passwordForm.invalid"
    >
      Save
    </button>
  </mat-dialog-actions>

</ng-template>
