/* HEADER BAR */
.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(90deg, #2c079b, #43afee);
  border-radius: 20px;
  margin-bottom: 20px;
}

.task-list-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.search-formm{
  width: 250px;
}

.task-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 20px;
  padding: 10px;
}

.task-card {
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 4px 12px;
  background: linear-gradient(90deg, #2c079b, #43afee);
  color: #f8f6f6;
}

/* TASK TITLE & SUBTITLE */
.task-title {
  font-size: 20px;
  font-weight: 600;
  padding: 0px 10px 5px 20px;
  text-transform: uppercase;
  color: #f9f6f6;
}

.task-subtitle {
  font-size: 15px;
  padding: 0px 10px 5px 20px;
  color: #eeeaea;
}

.mat-mdc-card-subtitle{
    color: #f9f6f6;
    padding: 0px 10px 5px 20px;
}
/* TASK CONTENT */
.task-content {
  font-size: 16px;
  margin-top: 10px;
  padding: 0px 20px 20px 20px;
  color: #f8f6f6;
}

.task-field {
  margin-bottom: 10px;
  line-height: 1.4;
}

/* STATUS ICON */
.status-icon {
  font-size: 27px !important;
}

.status-new {
  color: #e79797;
}

.status-progress {
  color: #ffa500;
}

.status-review {
  color: #9c27b0;
}

.status-done {
  color: #4caf50;
}

/* CHIP STYLING */
.chip {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  margin-left: 5px;
}

.priority-chip.low { background: #4caf50; }
.priority-chip.medium { background: #fb8c00; }
.priority-chip.high { background: #e53935; }
.priority-chip.critical { background: #6a1b9a; }

.status-chip.new { background: #e79797; }
.status-chip.in\ progress { background: #f57c00; }
.status-chip.in\ review { background: #8e24aa; }
.status-chip.done { background: #388e3c; }

/* SEARCH FORM INPUT */
.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #888;
}

.mat-form-field-outline-thick {
  border-width: 1.5px;
}
