.reset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.reset-card {
  max-width: 500px;
  width: 90%;
  padding: 2rem;
  border-radius: 12px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.reset-card:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.resetHead {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #3f51b5;
}

.actions-row {
  text-align: center;
  margin: 10px 0px;
}

.login-link{
    text-decoration: none;
    color: #3f51b5;
    font-weight: 500;

}
mat-icon{
    margin-left: -30px;
    position: absolute;
}
.actions-row a:hover{
    border-bottom: 1px solid #3f51b5;
}
@media (max-width: 768px) {
  .forgot-card {
    padding: 1.5rem;
  }

  .forgotHead {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .forgot-card {
    width: 95%;
    padding: 1rem;
  }

  .forgotHead {
    font-size: 1.3rem;
  }
}
