<div class="container">
  <mat-card class="greet">
    <h1>Welcome, <span>{{userDetails?.firstName?.toUpperCase()}} {{userDetails?.lastName?.toUpperCase()}}</span></h1>
    <p class="subtitle">Here's an overview of your task progress</p>
  </mat-card>

  <div class="task-summary">
    <h2>Task Overview</h2>
    <div class="tasks">
      <mat-card class="task-card pending">
        <mat-card-header>
          <mat-card-title>10</mat-card-title>
        </mat-card-header>
        <mat-card-content>Pending Tasks</mat-card-content>
      </mat-card>

      <mat-card class="task-card in-progress">
        <mat-card-header>
          <mat-card-title>10</mat-card-title>
        </mat-card-header>
        <mat-card-content>In Progress</mat-card-content>
      </mat-card>

      <mat-card class="task-card completed">
        <mat-card-header>
          <mat-card-title>10</mat-card-title>
        </mat-card-header>
        <mat-card-content>Completed</mat-card-content>
      </mat-card>

      <mat-card class="task-card total">
        <mat-card-header>
          <mat-card-title>30</mat-card-title>
        </mat-card-header>
        <mat-card-content>Total Tasks</mat-card-content>
      </mat-card>
    </div>
    <h2>Quick Actions</h2>
    <div class="quick-actions">
      <mat-card class="create">
        <mat-card-header>
          <mat-card-title>
            <button matButton="filled">Create Task</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="color: white;">
            Click to Create new task...
        </mat-card-content>
      </mat-card>
      <mat-card class="manage">
        <mat-card-header>
          <mat-card-title>
            <button matButton="filled">Manage Task</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="color: white;">
            Click to manage your tasks...
        </mat-card-content>
      </mat-card>
      <mat-card class="create">
        <mat-card-header>
          <mat-card-title>
            <button matButton="filled">Task Lists</button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="color: white;">
            Click to see all tasks...
        </mat-card-content>
      </mat-card>
    </div>
    <h2>Summary</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </div>
</div>
