<div class="container">
  <mat-card class="greet">
    <h1>Welcome, <span>Vivek Verma</span></h1>
    <p class="subtitle">Here's an overview of your task progress</p>
  </mat-card>

  <div class="task-summary">
    <h2>Task Overview</h2>
    <div class="tasks">
      <mat-card class="task-card pending">
        <mat-card-header>
          <mat-card-title>10</mat-card-title>
        </mat-card-header>
        <mat-card-content>Pending Tasks</mat-card-content>
      </mat-card>

      <mat-card class="task-card in-progress">
        <mat-card-header>
          <mat-card-title>10</mat-card-title>
        </mat-card-header>
        <mat-card-content>In Progress</mat-card-content>
      </mat-card>

      <mat-card class="task-card completed">
        <mat-card-header>
          <mat-card-title>10</mat-card-title>
        </mat-card-header>
        <mat-card-content>Completed</mat-card-content>
      </mat-card>

      <mat-card class="task-card total">
        <mat-card-header>
          <mat-card-title>30</mat-card-title>
        </mat-card-header>
        <mat-card-content>Total Tasks</mat-card-content>
      </mat-card>
    </div>
    <h2>Quick Actions</h2>
    <div class="tasks">
      <mat-card>
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
